extends layouts/main-layout.pug

block content 
    form(action="/admin/add-product", method="post")
        label(for="Title") Title
        input(type="text", name="title")
            
        button(type="submit") Add Product