extends layouts/main-layout.pug

block content 
        main 
            h1 My Products
            if products.length > 0
                div
                    each product in products
                        div 
                            h2 #{product.title}
            else
                h3 Empty product list. #[a.notWhite(href="/admin/add-product") Go add some products] 

